<!doctype html>
<html lang='C'>
<head>
<meta charset=UTF-8>
<!-- meta name=viewport content='width=device-width, initial-scale=1' -->
<meta name=viewport content-width=800>
<link rel=stylesheet href=/styles/style.css>
<link rel=apple-touch-icon type=image/svg sizes=180x180 href=/files/ISO_7010_W003.svg>
<link rel=icon type=image/svg sizes=32x32 href=/files/ISO_7010_W003.svg>
<link rel=icon type=image/svg sizes=16x16 href=/files/ISO_7010_W003.svg>
<meta name=description content='Low-noise tech zone for development of a complete CC=tcc single-pass C compiler driven operating system.'>
#!
TINYCMS_NAVITEM=${1}
#!
<title>
#!
	echo ${TINYCMS_NAVITEM}
#!
</title>
</head>

<body>
<div id='navbar'>
        <!-- a href='index.html' class=navimg><img id=navimg src='/files/ISO_7010_W003.svg'></a-->
	<a href='index.html'>tinyfront.org</a>
	<a href='docs.html'>documentation</a>
	<a href='download.html'>download</a>
	<a href='src.html'>sources</a>
	<a href='projects.html'>projects</a>
	<a href='blog.html'>blog</a>
	<a href='contact.html'>contact</a>
	<!-- a href='rss.cgi'>feeds</a -->
	<!-- a href='search.cgi'>feeds</a -->
</div>
<div id=cmdline>${TINYCMS_NAVITEM}.html</div>
#!
echo "$(/bin/sh ${TINYCMS_SRCDIR}/tinycontent.sh ${TINYCMS_CONTENTDIR} ${TINYCMS_NAVITEM} 2>&1 || echo 'Internal error: 404 not found.')"
##uncommented
#cat ${TINYCMS_SRCDIR}/contents.htm
#!
<pre class=text-center style='margin:10px 0px 0px 0px;'>
Published by aggi
Copyright &copy; 2025 Michael Ackermann
All rights reserved.
</pre><br />
<!-- please consider a donation -->
</body>
</html>

