/* derived from mkws.sh example template */

:root {
	--foreground: peru;
	--advice: peru;
	--highlight: #fff;
	--link: #ddd;
	--advcolor: #111;
	--hover: orange;
}

#navbar {
	overflow: hidden;
	background-color: var(--foreground);
	color: var(--advcolor);
	z-index: 99;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 0.25em;
}
#navbar a:hover {
	background-color: var(--hover);
}
#navbar input:hover {
	background-color: var(--hover);
}
#navbar a {
	float: left;
	display: block;
	color: var(--advcolor);
	text-align: center;
	padding: 0.5em;
	text-decoration: none;
	text-transform: uppercase;
}
#navbar a.navimg {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 5px;
	text-decoration: none;
}
#navbar input {
	float: right;
	display: block;
	color: black;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	background-color: var(--foreground);
	border: 0px;
	font-family: monospace;
	font-weight: bold;
	/*font-size: 12pt;*/
}
#navimg {
	float: left;
	height: auto;
	width: 32px;
	padding: 0px;
	margin: 2px 0px 0px 2px;
	/* margin-top: 0px; margin-left: 10px; margin-bottom: 0rem; */
}
a.navimg {
	text-decoration: none;
	color: var(--link);
	font-weight: bold;
	/*padding-right: 0.25em;*/
}
a.navimg:hover {color: var(--highlight);}
@media (max-width: 768px) {
	#navbar a {
		/*font-size: 12pt;*/
		padding: 12px;
	}
	td { display: block; }
}

#cmdline::before {
	content: "> ";
}
/*#cmdline::after {
	content: "█";
	animation: flash 0.5s step-end infinite;
}*/
#cmdline {
	margin: 10px 0px 5px 0px;

	overflow: hidden;
	white-space: nowrap;
	animation: reveal 4s linear;
	text-overflow: "█";

	color: var(--link);
	font-family: monospace;
	text-transform: uppercase;
}
/* @media (prefers-reduced-motion: no-preference) { */
@keyframes flash {
	50% { opacity: 0; }
}
@keyframes reveal {
	from { width: 2em; }
	to { width: 100%; }
}
/*}*/
@media (max-width: 64em) {
	@keyframes reveal {
	}
	#cmdline {
		white-space: normal;
	}
	#cmdline::after {
		content: "█";
		animation: flash 0.5s step-end infinite;
	}
}

div.col {
	margin: 10px 0px 10px 0px;
	border: 4px double var(--foreground);
	border-radius: 0.25em;
	/*padding: 1em;*/
	padding: 10px 15px 10px 15px;
	overflow: auto; /* if a floating image is placed within prevent overflow */
	line-height: 150%;
}
div.colleft {
	margin: 10px 0px 0px 0px;
	border: 6px double var(--foreground);
	padding: 1em;
}
div.colright {
	margin: 10px 0px 0px 0px;
	border: 6px double var(--foreground);
	padding: 1em;
}
div.col ul,li,p,h1,h2,h3,h4,h5,h6 {
	margin: 0px 0px 0px 25px;
	padding: 0;
	list-style-type: "> ";
	/* float: left; */
}
div.col ul {
	margin: 0px 0px 5px 0px;
}
div.col a {
	font-weight: normal;
}
/*div.col li::marker {
	color: var(--link);
}*/
ol li {
	margin: 0px 0px 0px 15px;
	padding: 0;
	list-style-type: decimal;
	clear: both;
}
/*ol li::marker {
	color: var(--foreground);
}*/
@media (min-width: 49em) {
	/*.row {
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row-reverse;
	}*/
 	.col { flex-grow: 1; }
	.colleft { flex: 3 0 0px; }
	.colright { flex: 2 0 0px; }
}
/*div.grid {
	border-collapse: collapse;
	margin: 10px 0px 0px 0px;
}*/

ul.toc {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
li.toc {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body {
	font-size: 14pt;
	/*margin: 0px;*/
	margin: auto; /* centers body */
	padding: 1em;
	max-width: 64em;
	font-family: monospace;
	color: var(--foreground);
	background: var(--advcolor);
	word-wrap: break-word;
}

sup {
	line-height: 100%;
}

a.content-nav::before { content: "> "; }
a.content-nav {
	color: var(--foreground);
	font-weight:normal;
	/*line-height: 150%;*/
}

h1.item-header {
	text-transform: none;
	font-weight: bold;
	background: var(--advice);
	color: var(--advcolor);
	padding: 0.5em;
	border-radius: 0.25em;
	margin: 15px 0px 0px 0px;
	display: block;
	clear: both;
}
a.item-anchor {
	visibility:hidden;
}

div.item-footer {
	font-family: courier;
	font-size: 12pt;
	text-align: right;
	color: #666;
	float: right;
	clear: both;
	margin: 0px 5px 15px 0px;
}
div.item-footer a {
	font-size: 12pt;
	color: #666;
	font-weight: normal;
}

div.col img {
	height: auto;
	max-width: 100%;
	width: 100%;
	margin-top: 0rem;
	margin-bottom: 0rem;
	margin-left: auto;
	margin-right: auto;
	display: block;
	filter: grayscale(1) invert(1) contrast(0.86);
}

/*h1 { font-size: 200% }
h2 { font-size: 180% }
h3 { font-size: 160% }
h4 { font-size: 140% }
h5 { font-size: 120% }
h6 { font-size: 100% }*/
h1,h2,h3,h4,h5,h6 {
	margin: 15px 0px 5px 0px;
	font-size:100%;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--link);
	clear: both;
}

a {
	text-decoration: none;
	color: var(--link);
	font-weight: bold;
	/* word-break: normal; */
	/* white-space: normal; */
	/*padding-right: 0.25em;*/
}
a:hover {color: var(--highlight);}
hr {
	border-color: var(--foreground);
	display: block;
	clear: both;
}

pre {
	white-space: pre-wrap;
	margin: 0px;
	clear: both;
	font-family: courier;
}
p {
	white-space: pre-wrap;
	margin: 0px;
	clear: both;
}
pre + p {
	margin: 5px 0px 0px 0px;
}
p + ul,p {
	margin: 0px 0px 5px 0px;
}
p + h1,h2,h3,h4,h5,h6 {
	margin: 5px 0px 0px 0px;
}

table {
	margin: 10px 0px 10px 20px;
}
th,tr,td {
	padding: 10px;
	border: 1px solid var(--foreground);
	color: var(--foreground);
	font-weight: normal;
	text-align: left;
}

div.col code {
	font-family: courier;
	font-size: 12pt;
	color: #999;
}

div.col pre {
	line-height: 100%;
	font-family: courier;
/*	margin-left: 35px;*/
}

blockquote {
	font-family: monospace;
	font-size: 14pt;
}

/*
img, video {
	height: auto;
	max-width: 100%;
	margin-top: 0rem;
	margin-bottom: 0rem;
}

input[type=text],
textarea {
	background-color: #333;
	color: darkorange;
}
*/

.text-center { text-align: center; }
.text-right { text-align: right; }

/*em {
	color: orange;
}

strong {
	font-weight: normal;
	color: orange;
}*/

strong em {
	font-weight: normal;
	color: red;
}
